.all-companies {
    background-image: url('https://res.cloudinary.com/dcgc2tppo/image/upload/v1684921271/dlwrbifwozagt6r7yp2w.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }
