#container {
    margin: 0px;
    padding: 0px;

}

#side-bar {
    width: 30%;
    height: 100vh;
    margin-left: 0;
    background: rgb(165, 202, 177);
    background: linear-gradient(180deg, rgb(248, 245, 245rgb(130, 167, 146), 58, 1) 100%);
    
}

#logo {
    border-radius: 50%;
    border: 3px solid;
    border-color: rgb(71, 71, 70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-left: 10%;
    margin-top: 8%;
}