#container {
    margin: 0px;
    padding: 0px;
}
  
#side-bar {
    width: 30%;
    height: 100vh;
    margin-left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(9,121,63,1) 100%); 
}

#logo {
    border-radius: 50%;
    border: 3px solid;
    border-color: rgb(71, 71, 70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
  margin-left: 10%;
  margin-top: 8%;
}


  /*AVATAR*/

input[type="file"] {
    display: none; /*Aqui ocultamos el texto que aparece por defecto en estetipo de input*/
}

.file {
  width: 140px;
  height: 50px;
  background-color: #006540;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.file span {
  
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;

}

.file_text {
  font-size: 12px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.file_ico {
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.file:hover {
  background-color: #009b62;
}

.file:hover .file_text {
  top: -100%;
}

.file:hover .file_ico {
  top: 50%;
}

button {
  width: fit-content;
  min-width: 100px;
  height: 50px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
}

button:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

button:active .send {
  font-size: 18px;
  transition: 0.1s;
}







  
