#container {
  margin: 0px;
  padding: 0px;
  background-image: url('https://res.cloudinary.com/dcgc2tppo/image/upload/v1685538554/pexels-lex-photography-1109543_jr6x9b.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}

#side-bar {
  width: 30%;
  height: 100vh;
  margin-left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(27, 92, 63, 1) 0%, rgba(0, 0, 0, 1) 100%);

}

.logo-container {
  border: 3px solid #104415;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
  /* Esto hace que el padding no aumente el tamaño total del div */
  background-color: rgba(255, 255, 255, 0.918);
  display: flex;
  /* Estos dos hacen que la imagen se centre */
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 100%;
  /* Esto hace que la imagen se ajuste al contenedor */
  border-radius: 50%;
}

.titulo-side-bar {
  color: mintcream;
  font-size: 35px;
  font-weight: bolder;
}

.texto-side-bar {
  color: mintcream;
  font-size: 16.5px;
  justify-content: center;
}

.cartas-home {
  width: 60rem;
}

.titulo-cards-home {
  font-size: 20px;
}

.texto-carta {
  font-size: 16px;
}

.menu {
  margin-left: 10%;
  margin-top: 8%;
}

.no-link {
  text-decoration: none;
  color: black
}

.no-link:hover {
  color: rgb(34, 82, 50);
}