/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.btn-success{
    background-color: #1B5C3F;
}
.btn-success:hover{
    background-color: white !important;
    color: #1B5C3F !important;
    box-shadow: 10px 10px 20px -10px rgba(27,92,63,1);
}
.h-100{
    margin: none;
    padding: none;
    background-color: red;
}