@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.register {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  height: fit-content;
  overflow-y: auto;
  padding-bottom: 50px; 
}

h1{
  font-family: 'Lato', sans-serif;
}

strong{
  color: green;
}
h3{
  font-weight: 400;
  margin-bottom: 11%;
}

#card{
  background: rgb(0,0,0);
  background: linear-gradient(180deg,rgba(9,121,63,1)  0%, #171817  100%);  
}

.card-body{
  width: 250px;
  height:300px; 
 
}
.card-title{
  color: aliceblue;
  position: absolute;
  top: 35%;
  transform: translate(0, -50%);
  font-size: 25px;
  margin-left: 15%;
  font-weight: 200;
  font-family: 'Noto Serif Armenian', serif;
  
}

#iconos{
  color: aliceblue;
  position: absolute;
  top: 60%;
  transform: translate(0, -50%);
  font-size: 60px;
  margin-left:5%;

}


  

.register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/dcgc2tppo/image/upload/v1684939717/nhxqzlq6adlk1ezkc5x0.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100%;  /* Asegura que el ancho de la imagen sea siempre el 100% del contenedor */
  background-position: center;  /* Centra la imagen */
}