.worker-register{
    background-image: url('https://res.cloudinary.com/dcgc2tppo/image/upload/v1685012727/bmmmugtnkjr4c01fe2ow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}